#!/usr/bin/env bash
#======== General Config ======================================================
# Colors
CA="\e[34m"									# Accent
CO="\e[32m"									# Ok
CW="\e[33m"									# Warning
CE="\e[31m"									# Error
CN="\e[0m"									# None

# Max width used for components in second column
WIDTH=50

#======== Module Config: BANNER ===============================================
MOD_BANNER_RUN="true"						# Comment to disable module
MOD_BANNER_PRINT="HOSTNAME"					# Comment to print FQDN
MOD_BANNER_FONT="smslant.flf"				# Specify figlet font to use

#======== Module Config: USER =================================================
MOD_USER_RUN="true"							# Comment to disable module

#======== Module Config: OS ===================================================
MOD_OS_RUN="true"							# Comment to disable module

#======== Module Config: IP ===================================================
MOD_IP_RUN="true"							# Comment to disable module

#======== Module Config: PUBLIC-IP ============================================
MOD_PUBLIC_IP_RUN="true"					# Comment to disable module

#======== Module Config: UPTIME ===============================================
MOD_UPTIME_RUN="true"						# Comment to disable module

#======== Module Config: LOAD =================================================
MOD_LOAD_RUN="true"							# Comment to disable module

#======== Module Config: MEMORY ===============================================
MOD_MEMORY_RUN="true"						# Comment to disable module

#======== Module Config: DISK =================================================
MOD_DISK_RUN="true"							# Comment to disable module

#======== Module Config: SERVICES-LINUX  ======================================
MOD_SERVICES_LINUX_RUN="true"				# Comment to disable module
declare -A services                         # List of services to check
services["nginx"]="nginx"
services["Docker"]="docker"
services["SSH"]="sshd"
services["Fail2Ban"]="fail2ban"
services["UFW"]="ufw"

#======== Module Config: TMUX =================================================
MOD_TMUX_RUN="true"							# Comment to disable module

#======== Module Config: UPDATES===============================================
MOD_UPDATES_RUN="true"						# Comment to disable module

#======== Module Config: QUOTE ================================================
MOD_QUOTE_RUN="true"						# Comment to disable module
