#!/usr/bin/env bash
#
# +----------------------------------------------------------------------------+
# | ./fancy-motd/config.sh                                                     |
# +----------------------------------------------------------------------------+
# |       Usage: ---                                                           |
# | Description: Configuration file for Fancy MOTD                             |
# |    Requires: Fancy MOTD                                                    |
# |       Notes: ---                                                           |
# |      Author: Waldemar Schroeer                                             |
# |     Company: Rechenzentrum Amper                                           |
# |     Version: 1.1                                                           |
# |     Created: 2021-03-31                                                    |
# |    Revision: 2026-04-21                                                    |
# |                                                                            |
# | Copyright © 2022 Waldemar Schroeer                                         |
# |                  waldemar.schroeer(at)rz-amper.de                          |
# +----------------------------------------------------------------------------+

# +----- General Config -------------------------------------------------------+
# Colors
CA="\e[34m"                                                                     # Accent
CO="\e[32m"                                                                     # Ok
CW="\e[33m"                                                                     # Warning
CE="\e[31m"                                                                     # Error
CN="\e[0m"                                                                      # None
BARCHARUSED="="
BARCHARFREE="="

# In case your terminal/window can't handle color sequences you may use the
# following set up.
# CA=""
# CO=""
# CW=""
# CE=""
# CN=""
# BARCHARUSED=""
# BARCHARFREE=""

# Max width used for components in second column
WIDTH=50

# +----- MODULES --------------------------------------------------------------+

# ATEST
MOD_ATEST_RUN="false"

# BANNER
MOD_BANNER_RUN="true"
MOD_BANNER_PRINT="HOSTNAME"
MOD_BANNER_FONT="smslant.flf"

# DATETIME
MOD_DATETIME_RUN="true"

# USER
MOD_USER_RUN="true"
MOD_USER_LAST="true"

# OS
MOD_OS_RUN="true"
MOD_OS_VERBOSE="true"

# IP
MOD_IP_RUN="true"

# PUBLIC-IP
MOD_PUBLIC_IP_RUN="true"

# UPTIME
MOD_UPTIME_RUN="true"

# LOAD
MOD_LOAD_RUN="true"

# MEMORY
MOD_MEMORY_RUN="true"
MOD_MEMORY_FREEBSD_VERBOSE="true"

# DISK
MOD_DISK_RUN="true"

# SERVICES
MOD_SERVICES_RUN="true"
# List of services to check
declare -A services
services["Apache"]="httpd"
services["AMD GPU"]="amdgpu-fancontrol"
services["BIND"]="named"
services["Cron"]="cron"
services["DHCPD"]="dhcpd"
services["IP FW"]="ipfw"
services["inetd"]="inetd"
services["NewSyslog"]="newsyslogd"
services["NTPD"]="ntpd"
services["nginx"]="nginx"
services["Docker"]="docker"
services["qemu GA"]="qemu-guest-agent"
services["SNMP"]="snmpd"
services["SSH"]="sshd"
services["Syslog"]="syslogd"
services["Fail2Ban"]="fail2ban"
services["UFW"]="ufw"

# CERTIFICATE VALIDITY
MOD_CERT_RUN="true"
# Short Name; FQDN; TCP Port
declare -A certhostlist
certhostlist[2]="RZ-Amper WWW;www.rz-amper.de;443"
certhostlist[3]="RZ-Amper IMAP;mail.rz-amper.de;993"
certhostlist[4]="RZ-Amper SMTP;mail.rz-amper.de;465"

# TMUX
MOD_TMUX_RUN="true"

# UPDATES
MOD_UPDATES_RUN="true"

# QUOTE
MOD_QUOTE_RUN="true"

# WEATHER
MOD_WEATHER_RUN="true"
MOD_WEATHER_LOCATION="Fuerstenfeldbruck"
MOD_WEATHER_STYLE="small"
MOD_WEATHER_OPTIONS="?0?F?Q"

# +----- End ------------------------------------------------------------------+
