#!/usr/bin/env bash

#======== General Config ======================================================
# Colors
CA="\e[34m"									# Accent
CO="\e[32m"									# Ok
CW="\e[33m"									# Warning
CE="\e[31m"									# Error
CN="\e[0m"									# None
BARCHARUSED="="
BARCHARFREE="="

# In case your terminal/window can't handle color sequences you may use the
# following set up.
# CA=""
# CO=""
# CW=""
# CE=""
# CN=""
# BARCHARUSED=""
# BARCHARFREE=""

# Max width used for components in second column
WIDTH=50

#======== MODULES =============================================================

# ATEST
MOD_ATEST_RUN="false"

# BANNER
MOD_BANNER_RUN="true"
MOD_BANNER_PRINT="HOSTNAME"
MOD_BANNER_FONT="smslant.flf"

# USER
MOD_USER_RUN="true"

# OS
MOD_OS_RUN="true"
MOD_OS_VERBOSE="true"

# IP
MOD_IP_RUN="true"

# PUBLIC-IP
MOD_PUBLIC_IP_RUN="true"

# UPTIME
MOD_UPTIME_RUN="true"

# LOAD
MOD_LOAD_RUN="true"

# MEMORY
MOD_MEMORY_RUN="true"
MOD_MEMORY_FREEBSD_VERBOSE="true"

# DISK
MOD_DISK_RUN="true"

# SERVICES
MOD_SERVICES_RUN="true"
# List of services to check
declare -A services
services["nginx"]="nginx"
services["Docker"]="docker"
services["SSH"]="sshd"
services["Fail2Ban"]="fail2ban"
services["UFW"]="ufw"

# CERTIFICATE VALIDITY
MOD_CERT_RUN="true"
# Short Name; FQDN; TCP Port
declare -A certhostlist
certhostlist[1]="FreeBSD WWW;www.freebsd.org;443"
certhostlist[2]="Google WWW;www.google.de;443"
certhostlist[3]="Google IMAP;imap.google.de;993"
certhostlist[4]="Google SMTP;smtp.gmail.de;465"

# TMUX
MOD_TMUX_RUN="true"

# UPDATES
MOD_UPDATES_RUN="true"

# QUOTE
MOD_QUOTE_RUN="true"

# WEATHER
MOD_WEATHER_RUN="true"
MOD_WEATHER_LOCATION="Fuerstenfeldbruck"
MOD_WEATHER_STYLE="small"
MOD_WEATHER_OPTIONS="%c+%t+(%f)+%h+%w+%P+%m"
